PORT=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SERVICE_ROLE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GOOGLE_CALLBACK_URL=

JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_DOMAIN=

JIRA_STATUS_BACKLOG= 
JIRA_STATUS_IN_PROGRESS= 
JIRA_STATUS_IN_REVIEW= 
JIRA_STATUS_DONE=