PORT=5001

# Meta / WhatsApp API
VERIFY_TOKEN="your_verify_token"
META_ACCESS_TOKEN="your_meta_access_token"
META_PHONE_NUMBER_ID="your_meta_phone_number_id" 

META_API_BASE_URL="https://graph.facebook.com/v18.0"
INTERNAL_API_KEY="your_internal_api_key"

# Services
REPORTS_SERVICE_URL="http://localhost:5003"
REPORTS_SERVICE_API_PATH="/api/reports/analyze"

STT_SERVICE_URL="http://localhost:5002"
STT_SERVICE_API_PATH="/api/transcribe"

AUTH_SERVICE_URL="http://localhost:5005/auth/login"


# Database
SUPABASE_URL="your_supabase_project_url"
SUPABASE_ANON_KEY="your_supabase_key_here"

# Toggle for Development Mode
USE_MOCK_AUTH="true/false"